<header>
        <nav>
          <div class="container">
            <div class="nav-wrapper">      
              <%= link_to "Uni Tech", root_path, class: "brand-logo right" %>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Courses", courses_path %></li>
                <li><%= link_to "Students", students_path %></li>
                <% if !logged_in? %>
                  <li><%= link_to "Sign up", new_student_path %></li>                                                               
                <% end %>
                <% # Code in application_helper %>
                <li><%= session_link %></li> 

                
                
                <% if logged_in? %>
                  <li>User: <%= current_user.name %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>

        <% flash.each do |key, message| %>
          <div class="container">
            <div class="row sign-up-form">
              <div class="col s12 m12 l12">
                <div class="card-panel red lighten-2 id="fade-out-target">
                  <span class="white-text">
                    <%= message %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>

</header>